DATABASE_URL=postgresql://neondb_owner:npg_1FXYTc7qbQGK@ep-ancient-shape-ag54vuxz-pooler.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require
JWT_SECRET=bed359aab7ef449a2460bc6161d9b52ad22e41e6b480f221632b1f012c4985a5
NODE_ENV=production
PORT=5000
